<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    #myPublisherDiv{
      display: inline-block;
    }
    #subscribersDiv{
      display: inline-block;
    }
  </style>
</head>
<body>
  <div id = 'myPublisherDiv'></div>
  <div id = 'subscribersDiv'></div>
  <script src='//static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    var rmname = "<%= rmname %>";
    $.get("/videochat/" + rmname, function(res) {
      var api_key = res.api_key;
      var session_id = res.session_id;
      var token = res.token;
      var session = OT.initSession(api_key, session_id);
      session.on ({
        streamCreated: function(event) {
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
        }
      });
      session.connect(token, function(error) {
        if (error) {
          console.log(error.message);
        }
        else {
          session.publish('myPublisherDiv', {width:320, height:240});
        };
      });
    });
  </script>
</body>
</html>
